@charset "utf-8";
/* CSS Document */

body {   margin:0;
	background-color: #EEDFBC;
}

body, html {
    height: 100dhv;
}

h1 {
	width: 100%;
	text-align: center;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: #305B5B;
	text-transform: uppercase;
}

h2 {
	width: 100%;
	text-align: center;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: #483737;
}

h3 {
	color: #483737;
}

p {
	color: #483737;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #C5563B;
  color: #EEDFBC;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align:center;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #468283;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #EEDFBC;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #EEDFBC;
  display: none;
  overflow: hidden;
}

/* The hero image */
.logo {
  display: flex;flex-wrap: wrap;
}

.logo img {
	flex: 60%;
	max-width: 60%;
	margin: 2% 20%;
}

@media screen and (max-width: 800px) {
	.logo img {
		flex: 90%;
		max-width: 80%;
		margin: 10% 10%;
	}
}

.bildeListe {
	display: flex;
  flex-wrap: wrap;
  padding: 0 2vw;
  text-align: center;
}

/* Create four equal columns that sits next to each other */
.skuespillerBilde {
  flex: 19%;
  max-width: 18%;
  padding: 0 1%;
}

.skuespillerBilde img {
  margin-top: 16px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .skuespillerBilde {
    flex: 48%;
    max-width: 48%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .skuespillerBilde {
    flex: 100%;
    max-width: 100%;
  }
.skuespillerBilde img {
		margin-top: 8px;
		vertical-align: middle;
		width: 70%;
	}
}

.stortbilde {
	flex: 94%;
  	max-width: 94%;
  	padding: 0 3%;
}

.stortbilde img {
	margin: 16px 0;
	vertical-align: middle;
	width: 100%;
}

.gruppeBilde {
	flex: 48%;
	max-width: 48%;
	padding: 1%;
	display: flex;flex-wrap: wrap;
}

.takketekst {
	padding-left: 25%;
}
@media screen and (max-width:1200px) {
	.takketekst {
	padding: 0;
}
}
.gruppeBilde img {
  margin-top: 2vw;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .gruppeBilde {
    flex: 100%;
    max-width: 100%;
  }
}

.gruppeBilde p {
	text-align: left;
}

.sponsor {
	flex: 48%;
	max-width: 48%;
	padding: 1%;
}

.sponsor img {
  margin-top: 8px;
  vertical-align: middle;
  width: 50%;
  padding-top: 5vw;
  padding-bottom: 5vw;
}
.sponsor2 {
	flex: 100%;
	max-width: 100%;
}

.sponsor2 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 25%;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.takklogo {
	flex: 100%;
	max-width: 20%;
	padding: 5%;
}
.takklogo img{
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .sponsor {
    flex: 100%;
    max-width: 100%;
  }
}

.text {
	margin:10%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}